{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% block content %}
<div class="container-fluid px-0 text-center">
    <img src="https://source.unsplash.com/1600x400/?telephone" class="d-block w-100" alt="...">
    <h1 class="my-4">Contact</h1>
    <br>
    <a href="https://linkedin.com/in/sinjoysaha" target="_blank"><img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white"></a>
    <a href="https://twitter.com/SinjoySaha" target="_blank"><img src="https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white"></a>
    <a href="mailto:sinjoysaha555@gmail.com" target="_blank"><img src="https://img.shields.io/badge/Gmail-D14836?style=for-the-badge&logo=gmail&logoColor=white"></a>
    <a href="https://www.hackerrank.com/sinjoysaha" target="_blank"><img src="https://img.shields.io/badge/-Hackerrank-2EC866?style=for-the-badge&logo=HackerRank&logoColor=white"></a>
    <a href="https://www.kaggle.com/sinjoysaha" target="_blank"><img src="https://img.shields.io/badge/Kaggle-20BEFF?style=for-the-badge&logo=Kaggle&logoColor=white"></a>
    <a href="https://www.github.com/sinjoysaha" target="_blank"><img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white"></a>
    <br>
    <br>
    <h5>Love to Hear from You! 😊</h5>
    <br>
</div>

{% endblock content %}