{% extends 'base.html' %}

{% block title %} Books {% endblock %}

{% block content %}

<div class="container py-5">
    <div class="d-flex justify-content-center mb-4 mx-2" >
        <a href="create/" class="btn btn-success">New Book</a>
    </div>
    <div class="row">
        <div class="card-group">
            {% for obj in object_list %}
            {% if forloop.counter|divisibleby:4 %}
            <div class="col-lg-3 d-flex justify-content-center">
                <div class="card border-primary mb-4 mx-2" style="max-width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">{{ obj.title }}</h5>
                        <p class="card-text">{{ obj.author }}</p>
                        <a href="{{ obj.get_absolute_url }}" class="btn btn-primary stretched-link">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if not forloop.last %}
    <div class="row">
        <div class="card-group">
            {% endif %}
            {% else %}
            <div class="col-lg-3 d-flex justify-content-center">
                <div class="card border-primary mb-4 mx-2" style="max-width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">{{ obj.title }}</h5>
                        <p class="card-text">{{ obj.author }}</p>
                        <a href="{{ obj.get_absolute_url }}" class="btn btn-primary stretched-link">Read More</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}